body {
  font-family: 'Lato';
  font-size: 14px;
  color: $black;
}
p {
  margin-bottom: 0;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: $blue;
}
ul {
  padding: 0;
}
h1 {
  font-size: 40px;
  font-weight: 600;
}
h2 {
  font-size: 32px;
  font-weight: 600;
}
h3 {
  font-size: 24px;
  font-weight: 600;
}
h4 {
  font-size: 20px;
  font-weight: 600;
}
h5 {
  font-size: 16px;
  font-weight: 600;
}
label {
  margin-bottom: 0;
}
