//errors
.el-input {
  margin-bottom: 36px;
}
.error {
  display: none;
  height: 30px;
  &:nth-child(2){
    margin-top: -30px;
  }
}
.error-show .error {
  display: block;
  color: red;
}

.el-form-item {
  text-align: center;
  &__label {
    color: black;
    font-size: 18px;
  }
}