@import 'base/colors';
@import 'base/mixins';
@import 'base/general';
@import 'base/pages';
@import 'base/animations';

@import 'components/navbar';
@import 'components/header';
@import 'components/footer';
